
import(RCurl)
import(XML)
import(methods)
import(zoo)

export(bayeos.connect)
export(bayeos.getConnection)
export(bayeos.close)

export(bayeos.getSeries)
export(bayeos.writeSeries)
export(bayeos.deleteRows)
export(bayeos.import)
export(bayeos.setStatus)
export(bayeos.readCSV)
export(bayeos.zoo2df)

export(bayeos.getACL)
export(bayeos.createACL)
export(bayeos.deleteACL)
export(bayeos.updateACL)
export(bayeos.getRoles)
export(bayeos.getRid)


export(bayeos.ls)
export(bayeos.cd)
export(bayeos.pwd)
export(bayeos.getChilds)
export(bayeos.find)
export(bayeos.createSeries)
export(bayeos.createFolder)
export(bayeos.createDF)
export(bayeos.createDFColumn)
export(bayeos.deleteNode)
export(bayeos.getNode)
export(bayeos.updateSeries)
export(bayeos.updateDF)
export(bayeos.updateDFColumn)
export(bayeos.updateNode)

export(bayeos.getDF)
export(bayeos.getDFZoo)
export(bayeos.writeDF)
export(bayeos.importDF)


export(bayeos.getReferences)
export(bayeos.createReferences)
export(bayeos.deleteReferences)
export(bayeos.createReferenceNode)
export(bayeos.deleteReferenceNode)

# delete for relese
export(bayeos.call)
